body{
    margin: auto;
}

header{
    height: 60px;
    background-color: #5b1666;
}

#logo{
    height: 58px;
    width: 58px;
    float: left;
    border-style: outset;
}

#name{
    color: #a868ce;
    height: 40px;
    float: left;
    margin-left: 2%;
}

#hyperlink{
    color: #a868ce;
    text-decoration: none;
}

#social{
    text-align: right;
}

.slogo{
    height: 50px;
    width: 50px;
    margin-top: 0.5%;
}

a{
    text-decoration: none;
}

#subheading{
    height: 30px;
    background-color: #a868ce;
    font-size: 25px;
    color: #5b1666;
    text-align: center;
    font-weight: bold;
}

.subhead{
    border-left: #5b1666;
    border-left-style: solid;
}

#hyperserve{
    color: #5b1666;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 5%;
}

.picture{
    box-shadow: -20px -20px 10px #5b1666;
    margin-top: 30%;
    margin-bottom: 15%;
}

#image{
    height: auto;
    width: auto;
}

#information{
    box-shadow: 20px 20px 10px #5b1666;
    margin-top: 2%;
    margin-bottom: 5%;
}

#heading{
    font-size: 3vw;
    font-family: cursive;
}

.description{
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#button{
    font-size: 1.4vw;
    color: #5b1666;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 60%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10%;
    border-style: inset;
    border-color: #5b1666;
    border-width: 2px;
    box-shadow: 10px 10px 10px #5b1666;
}

.modal-title{
    text-align: center;
    font-size: 30px;
    color: #5b1666;
}

#mybutton{
    text-align: right;
}

.fbutton{
    font-size: 18px;
    font-weight: bold;
    background-color: #064506;
}

.payment{
    color: #d43535;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#paymentc{
    color: #5b1666;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

#copyright{
    border-top: black;
    border-top-style: groove;
    font-size: 30px;
    text-align: center;
    background-color: #5b1666;
    color: #a868ce;
    font-weight: bolder;
}