body{
    margin: auto;
}

header{
    height: 60px;
    background-color: #5b1666;
}

#logo{
    height: 58px;
    width: 58px;
    float: left;
    border-style: outset;
}

#name{
    color: #a868ce;
    height: 40px;
    float: left;
    margin-left: 2%;
}

#hyperlink{
    color: #a868ce;
    text-decoration: none;
}

#social{
    text-align: right;
}

.slogo{
    height: 50px;
    width: 50px;
    margin-top: 0.5%;
}

a{
    text-decoration: none;
}

#subheading{
    height: 30px;
    background-color: #a868ce;
    font-size: 25px;
    color: #5b1666;
    text-align: center;
    font-weight: bold;
}

.subhead{
    border-left: #5b1666;
    border-left-style: solid;
    margin-left: 5%;
}

#hyperserve{
    color: #5b1666;
    text-decoration: none;
}

#background{
    background-image: url("https://i.ibb.co/zNJtLn8/Background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    height: 570px;
}

.know{
    text-decoration: none;
    color: black;
}

.servicebox{
    border-style: double;
    border-width: 6px;
    height: 400px;
    width: 350px;
    margin-left: 14%;
    margin-right: 7%;
    margin-bottom: 15%;
}

.serviceimage{
    height: 347px;
    width: 338px;
}

.servicename{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#servicename1{
    font-size: 22px;
    font-weight: bold;
}

.bioheading{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
}

#afterbio{
    border-bottom: black;
    border-bottom-style: groove;
}

#dataone{
    font-size: 40px;
}

#datatwo{
    font-size: 40px;
}

#datathree{
    font-size: 40px;
}

#bioimage{
    float: right;
    margin-bottom: 5%;
}

#reviewbox1{
    border-style: double;
    border-width: 6px;
    height: 412px;
    width: 562px;
    margin-bottom: 3%;
    margin-left: 10%;
}

#reviewimage1{
    height: 400px;
    width: 550px;
}

#reviewbox2{
    border-style: double;
    border-width: 6px;
    height: 412px;
    width: 562px;
    margin-bottom: 3%;
    margin-left: 10%;
}

#reviewimage2{
    height: 400px;
    width: 550px;
}

#reviewbox3{
    height: 560px;
    width: 392px;
    margin-top: 5%;
    margin-bottom: 3%;
}

#reviewimage3{
    height: 540px;
    width: 380px;
}

#reviewbox4{
    border-style: double;
    border-width: 6px;
    height: 622px;
    width: 482px;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 15%;
}

#reviewimage4{
    height: 610px;
    width: 470px;
}

#reviewbox5{
    border-style: double;
    border-width: 6px;
    height: 613px;
    width: 512px;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 15%;
}

#reviewimage5{
    height: 600px;
    width: 500px;
}

#copyright{
    border-top: black;
    border-top-style: groove;
    font-size: 30px;
    text-align: center;
    background-color: #5b1666;
    color: #a868ce;
    font-weight: bolder;
}