body{
    margin: auto;
}

header{
    height: 60px;
    background-color: #5b1666;
}

#logo{
    height: 58px;
    width: 58px;
    float: left;
    border-style: outset;
}

#name{
    color: #a868ce;
    height: 40px;
    float: left;
    margin-left: 2%;
}

#hyperlink{
    color: #a868ce;
    text-decoration: none;
}

#social{
    text-align: right;
}

.slogo{
    height: 50px;
    width: 50px;
    margin-top: 0.5%;
}

a{
    text-decoration: none;
}

#subheading{
    height: 30px;
    background-color: #a868ce;
    font-size: 25px;
    color: #5b1666;
    text-align: center;
    font-weight: bold;
}

.subhead{
    border-left: #5b1666;
    border-left-style: solid;
}

#hyperserve{
    color: #5b1666;
    text-decoration: none;
}

.image{
    width: 90%;
    margin: auto;
}

#box1{
    border-style: double;
    border-width: 6px;
    height: 746px;
    width: 460px;
    margin-top: 5%;
    margin-bottom: 2%;
}
/*
#image1{
    height: 800px;
    width: 620px;
}
*/
#copyright{
    border-top: black;
    border-top-style: groove;
    font-size: 30px;
    text-align: center;
    background-color: #5b1666;
    color: #a868ce;
    font-weight: bolder;
}